<a href="https://colab.research.google.com/github/harishmuh/R_tutorial/blob/main/Data_Transformation_in_R_tutorial_from_Coursera_Project_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data transformation in R tutorial from Coursera Project Network**
---

Notes:
- The tutorial was conducted using Rstudio cloud or posit.cloud. However, I was using notebook from google colab
- To change the Python notebook into R notebook simply change the runtime type from Python3 into R.

**Initial setup**

In [6]:
# Installing tidyverse packages
install.packages('tidyverse')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [7]:
# Attaching tidyverse packages
library(tidyverse)

In [8]:
# Reading excel file from github
library(readxl)
library(httr)

# Correct raw url (binary files must use /raw/ not /blob/ or /refs/heads/)
url_xlsx <- "https://github.com/harishmuh/R_tutorial/raw/main/datasets/injuries.xlsx"

# Download the file temporarily using httr::GET to ensure proper handling of binary files
temp_file <- tempfile(fileext = ".xlsx")
GET(url_xlsx, write_disk(temp_file, overwrite = TRUE))

# Read Excel
injuries <- read_excel(temp_file)

# Check first rows
head(injuries)

Response [https://raw.githubusercontent.com/harishmuh/R_tutorial/main/datasets/injuries.xlsx]
  Date: 2025-09-16 02:47
  Status: 200
  Content-Type: application/octet-stream
  Size: 14.3 kB
<ON DISK>  /tmp/RtmpGUMlT6/filefad2afd21.xlsxNULL

  age  type
1 0-17 Emergency Department Visit
2 0-17 Emergency Department Visit
3 0-17 Emergency Department Visit
4 0-17 Emergency Department Visit
5 0-17 Emergency Department Visit
6 0-17 Emergency Department Visit
  injury                                            estimate
1 Motor Vehicle Crashes                             47138
2 Unintentional Falls                               397190
3 Unintentionally struck by or against an object    229236
4 Other unintentional injury, mechanism unspecified 55785
5 Intentional self-harm                             NA
6 Assault                                           24360

In [9]:
# Converting the incorrect data type
# Convert estimate column to numeric, handling missing value 'NA' properly
injuries$estimate <- as.numeric(injuries$estimate)

# Check structure
str(injuries)

# Preview first rows
head(injuries)

Warning message:
“NAs introduced by coercion”

tibble [231 × 4] (S3: tbl_df/tbl/data.frame)
 $ age     : chr [1:231] "0-17" "0-17" "0-17" "0-17" ...
 $ type    : chr [1:231] "Emergency Department Visit" "Emergency Department Visit" "Emergency Department Visit" "Emergency Department Visit" ...
 $ injury  : chr [1:231] "Motor Vehicle Crashes" "Unintentional Falls" "Unintentionally struck by or against an object" "Other unintentional injury, mechanism unspecified" ...
 $ estimate: num [1:231] 47138 397190 229236 55785 NA ...

  age  type
1 0-17 Emergency Department Visit
2 0-17 Emergency Department Visit
3 0-17 Emergency Department Visit
4 0-17 Emergency Department Visit
5 0-17 Emergency Department Visit
6 0-17 Emergency Department Visit
  injury                                            estimate
1 Motor Vehicle Crashes                              47138
2 Unintentional Falls                               397190
3 Unintentionally struck by or against an object    229236
4 Other unintentional injury, mechanism unspecified  55785
5 Intentional self-harm                                 NA
6 Assault                                            24360

## **Select group of observatios and create new calculated fields**

In [10]:
# Use Select function
# Selecting column # Method 1
select(injuries, age) # table, column

    age
1   0-17
2   0-17
3   0-17
4   0-17
5   0-17
6   0-17
7   0-17
8   0-4
9   0-4
10  0-4
11  0-4
12  0-4
13  0-4
14  0-4
15  5-14
16  5-14
17  5-14
18  5-14
19  5-14
20  5-14
21  5-14
22  15-24
23  15-24
24  15-24
25  15-24
26  15-24
27  15-24
28  15-24
29  25-34
30  25-34
⋮   ⋮
202 45-54
203 45-54
204 55-64
205 55-64
206 55-64
207 55-64
208 55-64
209 55-64
210 55-64
211 65-74
212 65-74
213 65-74
214 65-74
215 65-74
216 65-74
217 65-74
218 75+
219 75+
220 75+
221 75+
222 75+
223 75+
224 75+
225 Total
226 Total
227 Total
228 Total
229 Total
230 Total
231 Total

In [11]:
# Select using pipe operators
injuries %>% select(age)

    age
1   0-17
2   0-17
3   0-17
4   0-17
5   0-17
6   0-17
7   0-17
8   0-4
9   0-4
10  0-4
11  0-4
12  0-4
13  0-4
14  0-4
15  5-14
16  5-14
17  5-14
18  5-14
19  5-14
20  5-14
21  5-14
22  15-24
23  15-24
24  15-24
25  15-24
26  15-24
27  15-24
28  15-24
29  25-34
30  25-34
⋮   ⋮
202 45-54
203 45-54
204 55-64
205 55-64
206 55-64
207 55-64
208 55-64
209 55-64
210 55-64
211 65-74
212 65-74
213 65-74
214 65-74
215 65-74
216 65-74
217 65-74
218 75+
219 75+
220 75+
221 75+
222 75+
223 75+
224 75+
225 Total
226 Total
227 Total
228 Total
229 Total
230 Total
231 Total

In [12]:
 # # Select using pipe operators # Using index
injuries %>% select(1)

    age
1   0-17
2   0-17
3   0-17
4   0-17
5   0-17
6   0-17
7   0-17
8   0-4
9   0-4
10  0-4
11  0-4
12  0-4
13  0-4
14  0-4
15  5-14
16  5-14
17  5-14
18  5-14
19  5-14
20  5-14
21  5-14
22  15-24
23  15-24
24  15-24
25  15-24
26  15-24
27  15-24
28  15-24
29  25-34
30  25-34
⋮   ⋮
202 45-54
203 45-54
204 55-64
205 55-64
206 55-64
207 55-64
208 55-64
209 55-64
210 55-64
211 65-74
212 65-74
213 65-74
214 65-74
215 65-74
216 65-74
217 65-74
218 75+
219 75+
220 75+
221 75+
222 75+
223 75+
224 75+
225 Total
226 Total
227 Total
228 Total
229 Total
230 Total
231 Total

In [13]:
# Selecting 2 columns
injuries %>% select(c(age,type))

    age   type
1   0-17  Emergency Department Visit
2   0-17  Emergency Department Visit
3   0-17  Emergency Department Visit
4   0-17  Emergency Department Visit
5   0-17  Emergency Department Visit
6   0-17  Emergency Department Visit
7   0-17  Emergency Department Visit
8   0-4   Emergency Department Visit
9   0-4   Emergency Department Visit
10  0-4   Emergency Department Visit
11  0-4   Emergency Department Visit
12  0-4   Emergency Department Visit
13  0-4   Emergency Department Visit
14  0-4   Emergency Department Visit
15  5-14  Emergency Department Visit
16  5-14  Emergency Department Visit
17  5-14  Emergency Department Visit
18  5-14  Emergency Department Visit
19  5-14  Emergency Department Visit
20  5-14  Emergency Department Visit
21  5-14  Emergency Department Visit
22  15-24 Emergency Department Visit
23  15-24 Emergency Department Visit
24  15-24 Emergency Department Visit
25  15-24 Emergency Department Visit
26  15-24 Emergency Department Visit
27  15-24 Emergency Department Visit
28  15-24 Emergency Department Visit
29  25-34 Emergency Department Visit
30  25-34 Emergency Department Visit
⋮   ⋮     ⋮
202 45-54 Deaths
203 45-54 Deaths
204 55-64 Deaths
205 55-64 Deaths
206 55-64 Deaths
207 55-64 Deaths
208 55-64 Deaths
209 55-64 Deaths
210 55-64 Deaths
211 65-74 Deaths
212 65-74 Deaths
213 65-74 Deaths
214 65-74 Deaths
215 65-74 Deaths
216 65-74 Deaths
217 65-74 Deaths
218 75+   Deaths
219 75+   Deaths
220 75+   Deaths
221 75+   Deaths
222 75+   Deaths
223 75+   Deaths
224 75+   Deaths
225 Total Deaths
226 Total Deaths
227 Total Deaths
228 Total Deaths
229 Total Deaths
230 Total Deaths
231 Total Deaths

In [14]:
# Use Filter
injuries %>% filter(age=="0-17")

   age  type
1  0-17 Emergency Department Visit
2  0-17 Emergency Department Visit
3  0-17 Emergency Department Visit
4  0-17 Emergency Department Visit
5  0-17 Emergency Department Visit
6  0-17 Emergency Department Visit
7  0-17 Emergency Department Visit
8  0-17 Hospitalizations
9  0-17 Hospitalizations
10 0-17 Hospitalizations
11 0-17 Hospitalizations
12 0-17 Hospitalizations
13 0-17 Hospitalizations
14 0-17 Hospitalizations
15 0-17 Deaths
16 0-17 Deaths
17 0-17 Deaths
18 0-17 Deaths
19 0-17 Deaths
20 0-17 Deaths
21 0-17 Deaths
   injury                                            estimate
1  Motor Vehicle Crashes                              47138
2  Unintentional Falls                               397190
3  Unintentionally struck by or against an object    229236
4  Other unintentional injury, mechanism unspecified  55785
5  Intentional self-harm                                 NA
6  Assault                                            24360
7  Other or no mechanism specified                    57983
8  Motor Vehicle Crashes                               5830
9  Unintentional Falls                                 7935
10 Unintentionally struck by or against an object      1985
11 Other unintentional injury, mechanism unspecified   3135
12 Intentional self-harm                                 NA
13 Assault                                             1535
14 Other or no mechanism specified                     2595
15 Motor Vehicle Crashes                                931
16 Unintentional Falls                                   48
17 Unintentionally struck by or against an object        52
18 Other unintentional injury, mechanism unspecified    308
19 Intentional self-harm                                 NA
20 Assault                                              611
21 Other or no mechanism specified                       61

In [15]:
# aggregation # Group by
injuries %>% group_by(type)

    age   type
1   0-17  Emergency Department Visit
2   0-17  Emergency Department Visit
3   0-17  Emergency Department Visit
4   0-17  Emergency Department Visit
5   0-17  Emergency Department Visit
6   0-17  Emergency Department Visit
7   0-17  Emergency Department Visit
8   0-4   Emergency Department Visit
9   0-4   Emergency Department Visit
10  0-4   Emergency Department Visit
11  0-4   Emergency Department Visit
12  0-4   Emergency Department Visit
13  0-4   Emergency Department Visit
14  0-4   Emergency Department Visit
15  5-14  Emergency Department Visit
16  5-14  Emergency Department Visit
17  5-14  Emergency Department Visit
18  5-14  Emergency Department Visit
19  5-14  Emergency Department Visit
20  5-14  Emergency Department Visit
21  5-14  Emergency Department Visit
22  15-24 Emergency Department Visit
23  15-24 Emergency Department Visit
24  15-24 Emergency Department Visit
25  15-24 Emergency Department Visit
26  15-24 Emergency Department Visit
27  15-24 Emergency Department Visit
28  15-24 Emergency Department Visit
29  25-34 Emergency Department Visit
30  25-34 Emergency Department Visit
⋮   ⋮     ⋮
202 45-54 Deaths
203 45-54 Deaths
204 55-64 Deaths
205 55-64 Deaths
206 55-64 Deaths
207 55-64 Deaths
208 55-64 Deaths
209 55-64 Deaths
210 55-64 Deaths
211 65-74 Deaths
212 65-74 Deaths
213 65-74 Deaths
214 65-74 Deaths
215 65-74 Deaths
216 65-74 Deaths
217 65-74 Deaths
218 75+   Deaths
219 75+   Deaths
220 75+   Deaths
221 75+   Deaths
222 75+   Deaths
223 75+   Deaths
224 75+   Deaths
225 Total Deaths
226 Total Deaths
227 Total Deaths
228 Total Deaths
229 Total Deaths
230 Total Deaths
231 Total Deaths
    injury                                            estimate
1   Motor Vehicle Crashes                              47138
2   Unintentional Falls                               397190
3   Unintentionally struck by or against an object    229236
4   Other unintentional injury, mechanism unspecified  55785
5   Intentional self-harm                                 NA
6   Assault                                            24360
7   Other or no mechanism specified                    57983
8   Motor Vehicle Crashes                               5464
9   Unintentional Falls                               230776
10  Unintentionally struck by or against an object     53436
11  Other unintentional injury, mechanism unspecified  12007
12  Intentional self-harm                                 NA
13  Assault                                              674
14  Other or no mechanism specified                    19360
15  Motor Vehicle Crashes                              19785
16  Unintentional Falls                               133084
17  Unintentionally struck by or against an object    120839
18  Other unintentional injury, mechanism unspecified  30656
19  Intentional self-harm                                 NA
20  Assault                                             9690
21  Other or no mechanism specified                    26022
22  Motor Vehicle Crashes                             103892
23  Unintentional Falls                                96568
24  Unintentionally struck by or against an object    106679
25  Other unintentional injury, mechanism unspecified  37118
26  Intentional self-harm                                870
27  Assault                                            65399
28  Other or no mechanism specified                    33395
29  Motor Vehicle Crashes                              71641
30  Unintentional Falls                                70210
⋮   ⋮                                                 ⋮
202 Assault                                             633
203 Other or no mechanism specified                     297
204 Motor Vehicle Crashes                              1287
205 Unintentional Falls                                1674
206 Unintentionally struck by or against an object       70
207 Other unintentional injury, mechanism unspecified   585
208 Intentional self-harm                              3233
209 Assault                                             410
210 Other or no mechanism specified                     393
211 Motor Vehicle Crashes                               797
212 Unintentional Falls                                2324
213 Unintentionally struck by or against an object       60
214 Other unintentional injury, mechanism unspecified   504
215 Intentional self-harm                              2244
216 Assault                                             241
217 Other or no mechanism specified                     356
218 Motor Vehicle Crashes                               794
219 Unintentional Falls                               10400
220 Unintentionally struck by or against an object       44
221 Other unintentional injury, mechanism unspecified   859
222 Intentional self-harm                              2212
223 Assault                                             174
224 Other or no mechanism specified                    1079
225 Motor Vehicle Crashes                             10656
226 Unintentional Falls                               15939
227 Unintentionally struck by or against an object      378
228 Other unintentional injury, mechanism unspecified  3889
229 Intentional self-harm                             18485
230 Assault                                            4906
231 Other or no mechanism specified                    2547

In [16]:
injuries %>% group_by(type) %>% summarize(total=sum(estimate, na.rm=TRUE)) # missing values also has been handled

  type                       total
1 Deaths                      115442
2 Emergency Department Visit 5876203
3 Hospitalizations            599685

## **Pivot data in R, into wide and long format**

* We need to pivot data to get data in different format.

* We will need to make the data into tidy data format.

* Tidy data is a way of organizing datasets so they are easier to work with in R (especially with the tidyverse).

### **3 principles of tidy data**

* Each variable forms a column

  * Example: age, type, injury, estimate should each be their own columns.

* Each observation forms a row

  * Example: One row represents one unique case, like 0-17 | Emergency Department Visit | Motor Vehicle Crashes | 47138.

* Each value forms a single cell

  * Each cell contains just one value, not multiple values combined.

### Example of Tidy vs Messy Data

**Messy data (wide format):**

| age  | Motor Vehicle Crashes | Unintentional Falls | Assault |
|------|------------------------|---------------------|---------|
| 0-17 | 47138                  | 397190              | 24360   |

---

**Tidy data (long format):**

| age  | injury                  | estimate |
|------|-------------------------|----------|
| 0-17 | Motor Vehicle Crashes   | 47138    |
| 0-17 | Unintentional Falls     | 397190   |
| 0-17 | Assault                 | 24360    |

In [17]:
# We are using dataset from tidyverse
head(relig_income) # This is not tidy data

  religion           <$10k $10-20k $20-30k $30-40k $40-50k $50-75k $75-100k
1 Agnostic            27    34       60     81      76      137    122
2 Atheist             12    27       37     52      35       70     73
3 Buddhist            27    21       30     34      33       58     62
4 Catholic           418   617      732    670     638     1116    949
5 Don’t know/refused  15    14       15     11      10       35     21
6 Evangelical Prot   575   869     1064    982     881     1486    949
  $100-150k >150k Don't know/refused
1 109        84     96
2  59        74     76
3  39        53     54
4 792       633   1489
5  17        18    116
6 723       414   1529

In [18]:
# Convert wide format into long format
relig_income %>% pivot_longer(!religion) # Pivot all but not religion

    religion              name               value
1   Agnostic              <$10k               27
2   Agnostic              $10-20k             34
3   Agnostic              $20-30k             60
4   Agnostic              $30-40k             81
5   Agnostic              $40-50k             76
6   Agnostic              $50-75k            137
7   Agnostic              $75-100k           122
8   Agnostic              $100-150k          109
9   Agnostic              >150k               84
10  Agnostic              Don't know/refused  96
11  Atheist               <$10k               12
12  Atheist               $10-20k             27
13  Atheist               $20-30k             37
14  Atheist               $30-40k             52
15  Atheist               $40-50k             35
16  Atheist               $50-75k             70
17  Atheist               $75-100k            73
18  Atheist               $100-150k           59
19  Atheist               >150k               74
20  Atheist               Don't know/refused  76
21  Buddhist              <$10k               27
22  Buddhist              $10-20k             21
23  Buddhist              $20-30k             30
24  Buddhist              $30-40k             34
25  Buddhist              $40-50k             33
26  Buddhist              $50-75k             58
27  Buddhist              $75-100k            62
28  Buddhist              $100-150k           39
29  Buddhist              >150k               53
30  Buddhist              Don't know/refused  54
⋮   ⋮                     ⋮                  ⋮
151 Other Faiths          <$10k               20
152 Other Faiths          $10-20k             33
153 Other Faiths          $20-30k             40
154 Other Faiths          $30-40k             46
155 Other Faiths          $40-50k             49
156 Other Faiths          $50-75k             63
157 Other Faiths          $75-100k            46
158 Other Faiths          $100-150k           40
159 Other Faiths          >150k               41
160 Other Faiths          Don't know/refused  71
161 Other World Religions <$10k                5
162 Other World Religions $10-20k              2
163 Other World Religions $20-30k              3
164 Other World Religions $30-40k              4
165 Other World Religions $40-50k              2
166 Other World Religions $50-75k              7
167 Other World Religions $75-100k             3
168 Other World Religions $100-150k            4
169 Other World Religions >150k                4
170 Other World Religions Don't know/refused   8
171 Unaffiliated          <$10k              217
172 Unaffiliated          $10-20k            299
173 Unaffiliated          $20-30k            374
174 Unaffiliated          $30-40k            365
175 Unaffiliated          $40-50k            341
176 Unaffiliated          $50-75k            528
177 Unaffiliated          $75-100k           407
178 Unaffiliated          $100-150k          321
179 Unaffiliated          >150k              258
180 Unaffiliated          Don't know/refused 597

In [19]:
# Pivot into wider format
relig_income %>% pivot_longer(!religion) %>% pivot_wider(names_from = name, values_from = value)

   religion                <$10k $10-20k $20-30k $30-40k $40-50k $50-75k
1  Agnostic                 27    34       60     81      76      137
2  Atheist                  12    27       37     52      35       70
3  Buddhist                 27    21       30     34      33       58
4  Catholic                418   617      732    670     638     1116
5  Don’t know/refused       15    14       15     11      10       35
6  Evangelical Prot        575   869     1064    982     881     1486
7  Hindu                     1     9        7      9      11       34
8  Historically Black Prot 228   244      236    238     197      223
9  Jehovah's Witness        20    27       24     24      21       30
10 Jewish                   19    19       25     25      30       95
11 Mainline Prot           289   495      619    655     651     1107
12 Mormon                   29    40       48     51      56      112
13 Muslim                    6     7        9     10       9       23
14 Orthodox                 13    17       23     32      32       47
15 Other Christian           9     7       11     13      13       14
16 Other Faiths             20    33       40     46      49       63
17 Other World Religions     5     2        3      4       2        7
18 Unaffiliated            217   299      374    365     341      528
   $75-100k $100-150k >150k Don't know/refused
1  122      109        84     96
2   73       59        74     76
3   62       39        53     54
4  949      792       633   1489
5   21       17        18    116
6  949      723       414   1529
7   47       48        54     37
8  131       81        78    339
9   15       11         6     37
10  69       87       151    162
11 939      753       634   1328
12  85       49        42     69
13  16        8         6     22
14  38       42        46     73
15  18       14        12     18
16  46       40        41     71
17   3        4         4      8
18 407      321       258    597

In [20]:
injuries %>% pivot_wider(names_from = "injury", values_from="estimate")

   age   type                       Motor Vehicle Crashes Unintentional Falls
1  0-17  Emergency Department Visit  47138                 397190
2  0-4   Emergency Department Visit   5464                 230776
3  5-14  Emergency Department Visit  19785                 133084
4  15-24 Emergency Department Visit 103892                  96568
5  25-34 Emergency Department Visit  71641                  70210
6  35-44 Emergency Department Visit  44108                  68830
7  45-54 Emergency Department Visit  40020                  95127
8  55-64 Emergency Department Visit  27193                 112460
9  65-74 Emergency Department Visit  13829                 120327
10 75+   Emergency Department Visit   8176                 286031
11 Total Emergency Department Visit 334109                1213412
12 0-17  Hospitalizations             5830                   7935
13 0-4   Hospitalizations              870                   4700
14 5-14  Hospitalizations             2395                   2270
15 15-24 Hospitalizations            12925                   3910
16 25-34 Hospitalizations            11050                   4470
17 35-44 Hospitalizations             7305                   5640
18 45-54 Hospitalizations             8490                  12010
19 55-64 Hospitalizations             7280                  18490
20 65-74 Hospitalizations             4485                  25235
21 75+   Hospitalizations             3965                  74005
22 Total Hospitalizations            58765                 150730
23 0-17  Deaths                        931                     48
24 0-4   Deaths                        187                     19
25 43965 Deaths                        326                     16
26 15-24 Deaths                       2419                     95
27 25-34 Deaths                       1960                    175
28 35-44 Deaths                       1402                    328
29 45-54 Deaths                       1484                    908
30 55-64 Deaths                       1287                   1674
31 65-74 Deaths                        797                   2324
32 75+   Deaths                        794                  10400
33 Total Deaths                      10656                  15939
   Unintentionally struck by or against an object
1  229236
2   53436
3  120839
4  106679
5   44404
6   32479
7   30495
8   20408
9   11937
10  13270
11 433947
12   1985
13    510
14    980
15   1070
16    635
17    610
18    685
19    765
20    790
21   1045
22   7090
23     52
24     27
25     19
26     21
27     34
28     41
29     62
30     70
31     60
32     44
33    378
   Other unintentional injury, mechanism unspecified Intentional self-harm
1   55785                                               NA
2   12007                                               NA
3   30656                                               NA
4   37118                                              870
5   22360                                              650
6   17541                                              421
7   17808                                              247
8   12928                                              105
9    7077                                               NA
10   7440                                               NA
11 164935                                             2567
12   3135                                               NA
13    785                                               NA
14   1435                                               NA
15   3060                                              280
16   2600                                              440
17   2255                                              340
18   3140                                              350
19   3165                                              145
20   2180                                               85
21   2550                                               70
22  21170                                             1730
23    308                                               NA
24    136                                               NA
25    110                                               NA
26    344                                             2171
27    345                                             2622
28    388                                             2502
29    618                                             3334
30    585                                             3233
31    504                                             2244
32    859                                             2212
33   3889                                            18485
   Assault Other or no mechanism specified
1   24360   57983
2     674   19360
3    9690   26022
4   65399   33395
5   57213   20974
6   34100   16503
7   27682   15962
8   11538   13387
9    2893   10051
10   1260   17318
11 210450  172974
12   1535    2595
13    960    1140
14    195     955
15   3125    2050
16   4320    1965
17   2865    1920
18   3290    2775
19   1780    4215
20    535    5085
21    325   11360
22  17395   31465
23    611      61
24    322      30
25    117      19
26   1165      96
27   1110     125
28    732     152
29    633     297
30    410     393
31    241     356
32    174    1079
33   4906    2547

In [21]:
injuries %>% pivot_wider(names_from = "injury", values_from="estimate")

   age   type                       Motor Vehicle Crashes Unintentional Falls
1  0-17  Emergency Department Visit  47138                 397190
2  0-4   Emergency Department Visit   5464                 230776
3  5-14  Emergency Department Visit  19785                 133084
4  15-24 Emergency Department Visit 103892                  96568
5  25-34 Emergency Department Visit  71641                  70210
6  35-44 Emergency Department Visit  44108                  68830
7  45-54 Emergency Department Visit  40020                  95127
8  55-64 Emergency Department Visit  27193                 112460
9  65-74 Emergency Department Visit  13829                 120327
10 75+   Emergency Department Visit   8176                 286031
11 Total Emergency Department Visit 334109                1213412
12 0-17  Hospitalizations             5830                   7935
13 0-4   Hospitalizations              870                   4700
14 5-14  Hospitalizations             2395                   2270
15 15-24 Hospitalizations            12925                   3910
16 25-34 Hospitalizations            11050                   4470
17 35-44 Hospitalizations             7305                   5640
18 45-54 Hospitalizations             8490                  12010
19 55-64 Hospitalizations             7280                  18490
20 65-74 Hospitalizations             4485                  25235
21 75+   Hospitalizations             3965                  74005
22 Total Hospitalizations            58765                 150730
23 0-17  Deaths                        931                     48
24 0-4   Deaths                        187                     19
25 43965 Deaths                        326                     16
26 15-24 Deaths                       2419                     95
27 25-34 Deaths                       1960                    175
28 35-44 Deaths                       1402                    328
29 45-54 Deaths                       1484                    908
30 55-64 Deaths                       1287                   1674
31 65-74 Deaths                        797                   2324
32 75+   Deaths                        794                  10400
33 Total Deaths                      10656                  15939
   Unintentionally struck by or against an object
1  229236
2   53436
3  120839
4  106679
5   44404
6   32479
7   30495
8   20408
9   11937
10  13270
11 433947
12   1985
13    510
14    980
15   1070
16    635
17    610
18    685
19    765
20    790
21   1045
22   7090
23     52
24     27
25     19
26     21
27     34
28     41
29     62
30     70
31     60
32     44
33    378
   Other unintentional injury, mechanism unspecified Intentional self-harm
1   55785                                               NA
2   12007                                               NA
3   30656                                               NA
4   37118                                              870
5   22360                                              650
6   17541                                              421
7   17808                                              247
8   12928                                              105
9    7077                                               NA
10   7440                                               NA
11 164935                                             2567
12   3135                                               NA
13    785                                               NA
14   1435                                               NA
15   3060                                              280
16   2600                                              440
17   2255                                              340
18   3140                                              350
19   3165                                              145
20   2180                                               85
21   2550                                               70
22  21170                                             1730
23    308                                               NA
24    136                                               NA
25    110                                               NA
26    344                                             2171
27    345                                             2622
28    388                                             2502
29    618                                             3334
30    585                                             3233
31    504                                             2244
32    859                                             2212
33   3889                                            18485
   Assault Other or no mechanism specified
1   24360   57983
2     674   19360
3    9690   26022
4   65399   33395
5   57213   20974
6   34100   16503
7   27682   15962
8   11538   13387
9    2893   10051
10   1260   17318
11 210450  172974
12   1535    2595
13    960    1140
14    195     955
15   3125    2050
16   4320    1965
17   2865    1920
18   3290    2775
19   1780    4215
20    535    5085
21    325   11360
22  17395   31465
23    611      61
24    322      30
25    117      19
26   1165      96
27   1110     125
28    732     152
29    633     297
30    410     393
31    241     356
32    174    1079
33   4906    2547

### **Quiz**

Case:
![image.png]()

In [24]:
# Reading excel file from github
library(readxl)
library(httr)

# Correct raw url (binary files must use /raw/ not /blob/ or /refs/heads/)
url_xlsx <- "https://github.com/harishmuh/R_tutorial/raw/main/datasets/injuries.xlsx"

# Download the file temporarily using httr::GET to ensure proper handling of binary files
temp_file <- tempfile(fileext = ".xlsx")
GET(url_xlsx, write_disk(temp_file, overwrite = TRUE))

# Read Excel
injurydataset <- read_excel(temp_file)

# Check first rows
head(injurydataset)

Response [https://raw.githubusercontent.com/harishmuh/R_tutorial/main/datasets/injuries.xlsx]
  Date: 2025-09-16 02:59
  Status: 200
  Content-Type: application/octet-stream
  Size: 14.3 kB
<ON DISK>  /tmp/RtmpGUMlT6/filefa1c9908b5.xlsxNULL

  age  type
1 0-17 Emergency Department Visit
2 0-17 Emergency Department Visit
3 0-17 Emergency Department Visit
4 0-17 Emergency Department Visit
5 0-17 Emergency Department Visit
6 0-17 Emergency Department Visit
  injury                                            estimate
1 Motor Vehicle Crashes                             47138
2 Unintentional Falls                               397190
3 Unintentionally struck by or against an object    229236
4 Other unintentional injury, mechanism unspecified 55785
5 Intentional self-harm                             NA
6 Assault                                           24360

In [26]:
injurydataset %>% filter(injury == 'Assault') %>% select(injury,estimate)

   injury  estimate
1  Assault 24360
2  Assault 674
3  Assault 9690
4  Assault 65399
5  Assault 57213
6  Assault 34100
7  Assault 27682
8  Assault 11538
9  Assault 2893
10 Assault 1260
11 Assault 210450
12 Assault 1535
13 Assault 960
14 Assault 195
15 Assault 3125
16 Assault 4320
17 Assault 2865
18 Assault 3290
19 Assault 1780
20 Assault 535
21 Assault 325
22 Assault 17395
23 Assault 611
24 Assault 322
25 Assault 117
26 Assault 1165
27 Assault 1110
28 Assault 732
29 Assault 633
30 Assault 410
31 Assault 241
32 Assault 174
33 Assault 4906

## **Handling missing values**

**Data observation**

In [27]:
head(injuries)

  age  type
1 0-17 Emergency Department Visit
2 0-17 Emergency Department Visit
3 0-17 Emergency Department Visit
4 0-17 Emergency Department Visit
5 0-17 Emergency Department Visit
6 0-17 Emergency Department Visit
  injury                                            estimate
1 Motor Vehicle Crashes                              47138
2 Unintentional Falls                               397190
3 Unintentionally struck by or against an object    229236
4 Other unintentional injury, mechanism unspecified  55785
5 Intentional self-harm                                 NA
6 Assault                                            24360

In [28]:
# To get value in the vector estimate
injuries$estimate

  [1]   47138  397190  229236   55785      NA   24360   57983    5464  230776
 [10]   53436   12007      NA     674   19360   19785  133084  120839   30656
 [19]      NA    9690   26022  103892   96568  106679   37118     870   65399
 [28]   33395   71641   70210   44404   22360     650   57213   20974   44108
 [37]   68830   32479   17541     421   34100   16503   40020   95127   30495
 [46]   17808     247   27682   15962   27193  112460   20408   12928     105
 [55]   11538   13387   13829  120327   11937    7077      NA    2893   10051
 [64]    8176  286031   13270    7440      NA    1260   17318  334109 1213412
 [73]  433947  164935    2567  210450  172974    5830    7935    1985    3135
 [82]      NA    1535    2595     870    4700     510     785      NA     960
 [91]    1140    2395    2270     980    1435      NA     195     955   12925
[100]    3910    1070    3060     280    3125    2050   11050    4470     635
[109]    2600     440    4320    1965    7305    5640     610    2255     340
[118]    2865    1920    8490   12010     685    3140     350    3290    2775
[127]    7280   18490     765    3165     145    1780    4215    4485   25235
[136]     790    2180      85     535    5085    3965   74005    1045    2550
[145]      70     325   11360   58765  150730    7090   21170    1730   17395
[154]   31465     931      48      52     308      NA     611      61     187
[163]      19      27     136      NA     322      30     326      16      19
[172]     110      NA     117      19    2419      95      21     344    2171
[181]    1165      96    1960     175      34     345    2622    1110     125
[190]    1402     328      41     388    2502     732     152    1484     908
[199]      62     618    3334     633     297    1287    1674      70     585
[208]    3233     410     393     797    2324      60     504    2244     241
[217]     356     794   10400      44     859    2212     174    1079   10656
[226]   15939     378    3889   18485    4906    2547

In [30]:
# Is there any NA in the vector estimate
any(is.na(injuries$estimate))

[1] TRUE

In [31]:
# How many NA the estimate vector
sum(is.na(injuries$estimate))

[1] 11

**Data dimension**

In [32]:
# data dimension # rows and columns
# Number of rows
nrow(injuries)

# Number of columns
ncol(injuries)

# Both at once
dim(injuries)

[1] 231

[1] 4

[1] 231   4

In [34]:
# Before missing values handling
# Shows rows, columns, and data types
glimpse(injuries)

Rows: 231
Columns: 4
$ age      <chr> "0-17", "0-17", "0-17", "0-17", "0-17", "0-17", "0-17", "0-4"…
$ type     <chr> "Emergency Department Visit", "Emergency Department Visit", "…
$ injury   <chr> "Motor Vehicle Crashes", "Unintentional Falls", "Unintentiona…
$ estimate <dbl> 47138, 397190, 229236, 55785, NA, 24360, 57983, 5464, 230776,…

### **Handling missing values - Dropping**

In [38]:
# Removing missing values
# Drop rows with any NA values
injuries <- injuries %>% drop_na()

In [39]:
# After missing values handling
# Shows rows, columns, and data types
glimpse(injuries)

Rows: 220
Columns: 4
$ age      <chr> "0-17", "0-17", "0-17", "0-17", "0-17", "0-17", "0-4", "0-4",…
$ type     <chr> "Emergency Department Visit", "Emergency Department Visit", "…
$ injury   <chr> "Motor Vehicle Crashes", "Unintentional Falls", "Unintentiona…
$ estimate <dbl> 47138, 397190, 229236, 55785, 24360, 57983, 5464, 230776, 534…

### **Handling missing values - Replace with mean**

Beside dropping, we can also handle missing values by replacing them with mean values.

In [40]:
injuries$estimate[is.na(injuries$estimate)] <-
  mean(injuries$estimate, na.rm = TRUE)

In [42]:
# After missing values handling
# Shows rows, columns, and data types
glimpse(injuries$estimate)

 num [1:220] 47138 397190 229236 55785 24360 ...

## **Split and combine cells and columns in R**

We will use a new dataset of "student grade.xlsx"

In [44]:
# Reading excel file from github
library(readxl)
library(httr)

# Correct raw url (binary files must use /raw/ not /blob/ or /refs/heads/)
url_xlsx <- "https://github.com/harishmuh/R_tutorial/raw/main/datasets/student%20grades.xlsx"

# Download the file temporarily using httr::GET to ensure proper handling of binary files
temp_file <- tempfile(fileext = ".xlsx")
GET(url_xlsx, write_disk(temp_file, overwrite = TRUE))

# Read Excel
grades <- read_excel(temp_file)

# Check first rows
head(grades)

Response [https://raw.githubusercontent.com/harishmuh/R_tutorial/main/datasets/student%20grades.xlsx]
  Date: 2025-09-16 03:40
  Status: 200
  Content-Type: application/octet-stream
  Size: 21 kB
<ON DISK>  /tmp/RtmpGUMlT6/filefa4fc0cfc0.xlsxNULL

  student_id last_name first_name
1 27         Marian    Ryan
2 28         Sandra    Moss
3 33         Rodney    Howell
4 34         Sheldon   Black
5 40         Amos      Clarke
6 46         Daisy     Osborne

### **Combine cells**

In [45]:
# We will combine both first_name and last_name
unite(grades, c(first_name, last_name), col=full_name)

    student_id full_name
1    27        Ryan_Marian
2    28        Moss_Sandra
3    33        Howell_Rodney
4    34        Black_Sheldon
5    40        Clarke_Amos
6    46        Osborne_Daisy
7    61        Woods_Jaime
8    64        Wise_Sonja
9    67        Hernandez_Brandi
10   75        Newman_Sammy
11   79        Gutierrez_Katrina
12   83        Carroll_Cornelius
13   94        Hunt_Brandy
14   96        Ross_Lance
15  101        Padilla_Gregory
16  104        Boyd_Terri
17  148        Hardy_Thelma
18  149        Barton_Kathleen
19  159        Bryan_Blanche
20  166        Watts_Tyrone
21  168        Robertson_Maggie
22  176        Wolfe_Mattie
23  180        Castro_William
24  185        Morrison_Lena
25  187        Moody_Jack
26  189        Watson_Essie
27  191        Briggs_Franklin
28  199        Norman_Lola
29  221        Cannon_Susie
30  262        Maldonado_Randal
⋮   ⋮          ⋮
71   702       Peters_Rudy
72   729       Singleton_David
73   743       Bryant_Carl
74   776       Garcia_Alexis
75   804       Kelley_Amber
76   822       George_Kenny
77   830       Allen_Eva
78   856       Francis_Edmund
79   860       Payne_Ernesto
80   867       Ramsey_Brittany
81   879       Christensen_Miguel
82   887       Hill_Amy
83   920       Nguyen_Betsy
84   941       Gilbert_Frances
85   958       Parks_Gwendolyn
86  1044       Stephens_Jean
87  1047       Norris_Lydia
88  1073       Mclaughlin_Kyle
89  1091       Flores_Wanda
90  1120       Reeves_Myra
91  1131       Douglas_Joey
92  1136       Pittman_Sandy
93  1180       Rodriquez_Lela
94  1204       Townsend_Bryant
95  1217       King_Tim
96  1242       Soto_Lora
97  1273       Martinez_Lorenzo
98  1293       Klein_Steve
99  1294       Wells_Dwight
100 1312       Montgomery_Elmer

In [46]:
grades %>% mutate(full_name=paste(first_name, last_name))

    student_id last_name first_name  full_name
1    27        Marian    Ryan        Ryan Marian
2    28        Sandra    Moss        Moss Sandra
3    33        Rodney    Howell      Howell Rodney
4    34        Sheldon   Black       Black Sheldon
5    40        Amos      Clarke      Clarke Amos
6    46        Daisy     Osborne     Osborne Daisy
7    61        Jaime     Woods       Woods Jaime
8    64        Sonja     Wise        Wise Sonja
9    67        Brandi    Hernandez   Hernandez Brandi
10   75        Sammy     Newman      Newman Sammy
11   79        Katrina   Gutierrez   Gutierrez Katrina
12   83        Cornelius Carroll     Carroll Cornelius
13   94        Brandy    Hunt        Hunt Brandy
14   96        Lance     Ross        Ross Lance
15  101        Gregory   Padilla     Padilla Gregory
16  104        Terri     Boyd        Boyd Terri
17  148        Thelma    Hardy       Hardy Thelma
18  149        Kathleen  Barton      Barton Kathleen
19  159        Blanche   Bryan       Bryan Blanche
20  166        Tyrone    Watts       Watts Tyrone
21  168        Maggie    Robertson   Robertson Maggie
22  176        Mattie    Wolfe       Wolfe Mattie
23  180        William   Castro      Castro William
24  185        Lena      Morrison    Morrison Lena
25  187        Jack      Moody       Moody Jack
26  189        Essie     Watson      Watson Essie
27  191        Franklin  Briggs      Briggs Franklin
28  199        Lola      Norman      Norman Lola
29  221        Susie     Cannon      Cannon Susie
30  262        Randal    Maldonado   Maldonado Randal
⋮   ⋮          ⋮         ⋮           ⋮
71   702       Rudy      Peters      Peters Rudy
72   729       David     Singleton   Singleton David
73   743       Carl      Bryant      Bryant Carl
74   776       Alexis    Garcia      Garcia Alexis
75   804       Amber     Kelley      Kelley Amber
76   822       Kenny     George      George Kenny
77   830       Eva       Allen       Allen Eva
78   856       Edmund    Francis     Francis Edmund
79   860       Ernesto   Payne       Payne Ernesto
80   867       Brittany  Ramsey      Ramsey Brittany
81   879       Miguel    Christensen Christensen Miguel
82   887       Amy       Hill        Hill Amy
83   920       Betsy     Nguyen      Nguyen Betsy
84   941       Frances   Gilbert     Gilbert Frances
85   958       Gwendolyn Parks       Parks Gwendolyn
86  1044       Jean      Stephens    Stephens Jean
87  1047       Lydia     Norris      Norris Lydia
88  1073       Kyle      Mclaughlin  Mclaughlin Kyle
89  1091       Wanda     Flores      Flores Wanda
90  1120       Myra      Reeves      Reeves Myra
91  1131       Joey      Douglas     Douglas Joey
92  1136       Sandy     Pittman     Pittman Sandy
93  1180       Lela      Rodriquez   Rodriquez Lela
94  1204       Bryant    Townsend    Townsend Bryant
95  1217       Tim       King        King Tim
96  1242       Lora      Soto        Soto Lora
97  1273       Lorenzo   Martinez    Martinez Lorenzo
98  1293       Steve     Klein       Klein Steve
99  1294       Dwight    Wells       Wells Dwight
100 1312       Elmer     Montgomery  Montgomery Elmer

### **Split cells**

In [47]:
# Creating grades2
grades2 <- grades %>% unite(c(first_name, last_name), col=full_name, sep=" ")

In [48]:
head(grades2)

  student_id full_name
1 27         Ryan Marian
2 28         Moss Sandra
3 33         Howell Rodney
4 34         Black Sheldon
5 40         Clarke Amos
6 46         Osborne Daisy

In [49]:
# Splitting
grades2 %>% separate(full_name, into=c("first_name", "last_name"), sep=" ")

    student_id first_name  last_name
1    27        Ryan        Marian
2    28        Moss        Sandra
3    33        Howell      Rodney
4    34        Black       Sheldon
5    40        Clarke      Amos
6    46        Osborne     Daisy
7    61        Woods       Jaime
8    64        Wise        Sonja
9    67        Hernandez   Brandi
10   75        Newman      Sammy
11   79        Gutierrez   Katrina
12   83        Carroll     Cornelius
13   94        Hunt        Brandy
14   96        Ross        Lance
15  101        Padilla     Gregory
16  104        Boyd        Terri
17  148        Hardy       Thelma
18  149        Barton      Kathleen
19  159        Bryan       Blanche
20  166        Watts       Tyrone
21  168        Robertson   Maggie
22  176        Wolfe       Mattie
23  180        Castro      William
24  185        Morrison    Lena
25  187        Moody       Jack
26  189        Watson      Essie
27  191        Briggs      Franklin
28  199        Norman      Lola
29  221        Cannon      Susie
30  262        Maldonado   Randal
⋮   ⋮          ⋮           ⋮
71   702       Peters      Rudy
72   729       Singleton   David
73   743       Bryant      Carl
74   776       Garcia      Alexis
75   804       Kelley      Amber
76   822       George      Kenny
77   830       Allen       Eva
78   856       Francis     Edmund
79   860       Payne       Ernesto
80   867       Ramsey      Brittany
81   879       Christensen Miguel
82   887       Hill        Amy
83   920       Nguyen      Betsy
84   941       Gilbert     Frances
85   958       Parks       Gwendolyn
86  1044       Stephens    Jean
87  1047       Norris      Lydia
88  1073       Mclaughlin  Kyle
89  1091       Flores      Wanda
90  1120       Reeves      Myra
91  1131       Douglas     Joey
92  1136       Pittman     Sandy
93  1180       Rodriquez   Lela
94  1204       Townsend    Bryant
95  1217       King        Tim
96  1242       Soto        Lora
97  1273       Martinez    Lorenzo
98  1293       Klein       Steve
99  1294       Wells       Dwight
100 1312       Montgomery  Elmer

## **Join data from different tables**

**Reading file from specific sheet name**

In [52]:
# Reading the first table
# Reading excel file from github
library(readxl)
library(httr)

# Correct raw url (binary files must use /raw/ not /blob/ or /refs/heads/)
url_xlsx <- "https://github.com/harishmuh/R_tutorial/raw/main/datasets/student%20grades.xlsx"

# Download the file temporarily using httr::GET to ensure proper handling of binary files
temp_file <- tempfile(fileext = ".xlsx")
GET(url_xlsx, write_disk(temp_file, overwrite = TRUE))

# Read Excel - first table "student" sheet
ids <- read_excel(temp_file, sheet = "students")

# Check first rows
head(ids)

Response [https://raw.githubusercontent.com/harishmuh/R_tutorial/main/datasets/student%20grades.xlsx]
  Date: 2025-09-16 04:25
  Status: 200
  Content-Type: application/octet-stream
  Size: 21 kB
<ON DISK>  /tmp/RtmpGUMlT6/filefa7c5d8fd7.xlsxNULL

  student_id last_name first_name
1 27         Marian    Ryan
2 28         Sandra    Moss
3 33         Rodney    Howell
4 34         Sheldon   Black
5 40         Amos      Clarke
6 46         Daisy     Osborne

In [53]:
# Reading the second table
# Read Excel - second table: "grades" sheet
grades <- read_excel(temp_file, sheet = "grades")

# Check first rows
head(grades)

  student_id course_id course_name grade
1 27         MATH 302  Mathematics 74
2 27         PHY 311   Physics     75
3 28         MATH 302  Mathematics 77
4 28         PHY 311   Physics     81
5 33         MATH 302  Mathematics 99
6 33         PHY 311   Physics     99

We can see there is the 'student_id' column in both of tables.

we can combine it.

In [54]:
# Join two different tables
ids %>% inner_join(grades, by = "student_id")

    student_id last_name first_name course_id course_name grade
1   27         Marian    Ryan       MATH 302  Mathematics 74
2   27         Marian    Ryan       PHY 311   Physics     75
3   28         Sandra    Moss       MATH 302  Mathematics 77
4   28         Sandra    Moss       PHY 311   Physics     81
5   33         Rodney    Howell     MATH 302  Mathematics 99
6   33         Rodney    Howell     PHY 311   Physics     99
7   34         Sheldon   Black      PHY 311   Physics     70
8   34         Sheldon   Black      MATH 302  Mathematics 77
9   40         Amos      Clarke     MATH 302  Mathematics 66
10  40         Amos      Clarke     PHY 311   Physics     66
11  40         Amos      Clarke     PHY 311   Physics     80
12  40         Amos      Clarke     MATH 302  Mathematics 81
13  46         Daisy     Osborne    MATH 302  Mathematics 75
14  46         Daisy     Osborne    PHY 311   Physics     77
15  61         Jaime     Woods      MATH 302  Mathematics 78
16  61         Jaime     Woods      PHY 311   Physics     83
17  64         Sonja     Wise       MATH 302  Mathematics 81
18  64         Sonja     Wise       PHY 311   Physics     85
19  67         Brandi    Hernandez  PHY 311   Physics     87
20  67         Brandi    Hernandez  MATH 302  Mathematics 89
21  75         Sammy     Newman     PHY 311   Physics     81
22  75         Sammy     Newman     MATH 302  Mathematics 84
23  79         Katrina   Gutierrez  MATH 302  Mathematics 77
24  79         Katrina   Gutierrez  PHY 311   Physics     78
25  83         Cornelius Carroll    PHY 311   Physics     77
26  83         Cornelius Carroll    MATH 302  Mathematics 79
27  94         Brandy    Hunt       MATH 302  Mathematics 81
28  94         Brandy    Hunt       PHY 311   Physics     85
29  96         Lance     Ross       MATH 302  Mathematics 92
30  96         Lance     Ross       PHY 311   Physics     92
⋮   ⋮          ⋮         ⋮          ⋮         ⋮           ⋮
175 1047       Lydia     Norris     PHY 311   Physics     86
176 1047       Lydia     Norris     MATH 302  Mathematics 90
177 1073       Kyle      Mclaughlin MATH 302  Mathematics 86
178 1073       Kyle      Mclaughlin PHY 311   Physics     96
179 1091       Wanda     Flores     MATH 302  Mathematics 77
180 1091       Wanda     Flores     PHY 311   Physics     80
181 1120       Myra      Reeves     MATH 302  Mathematics 65
182 1120       Myra      Reeves     PHY 311   Physics     71
183 1120       Myra      Reeves     MATH 302  Mathematics NA
184 1120       Myra      Reeves     PHY 311   Physics     NA
185 1131       Joey      Douglas    MATH 302  Mathematics 81
186 1131       Joey      Douglas    PHY 311   Physics     84
187 1136       Sandy     Pittman    MATH 302  Mathematics 80
188 1136       Sandy     Pittman    PHY 311   Physics     81
189 1180       Lela      Rodriquez  PHY 311   Physics     84
190 1180       Lela      Rodriquez  MATH 302  Mathematics 87
191 1204       Bryant    Townsend   PHY 311   Physics     82
192 1204       Bryant    Townsend   MATH 302  Mathematics 85
193 1217       Tim       King       PHY 311   Physics     79
194 1217       Tim       King       MATH 302  Mathematics 80
195 1242       Lora      Soto       PHY 311   Physics     84
196 1242       Lora      Soto       MATH 302  Mathematics 85
197 1273       Lorenzo   Martinez   MATH 302  Mathematics 95
198 1273       Lorenzo   Martinez   PHY 311   Physics     97
199 1293       Steve     Klein      MATH 302  Mathematics 86
200 1293       Steve     Klein      PHY 311   Physics     94
201 1294       Dwight    Wells      PHY 311   Physics     80
202 1294       Dwight    Wells      MATH 302  Mathematics 82
203 1312       Elmer     Montgomery MATH 302  Mathematics 81
204 1312       Elmer     Montgomery PHY 311   Physics     84

**We have learnt several functions**

* select() filter() group_by() summarize() mutate() inner_join()

* unite() separate() pivot_longer() pivot_wider()

### **Quiz**

![image.png]()

In [55]:
# Reading the first table
# Reading excel file from github
library(readxl)
library(httr)

# Correct raw url (binary files must use /raw/ not /blob/ or /refs/heads/)
url_xlsx <- "https://github.com/harishmuh/R_tutorial/raw/main/datasets/student%20grades.xlsx"

# Download the file temporarily using httr::GET to ensure proper handling of binary files
temp_file <- tempfile(fileext = ".xlsx")
GET(url_xlsx, write_disk(temp_file, overwrite = TRUE))

# Read Excel - first table "student" sheet
students <- read_excel(temp_file, sheet = "students")

# Check first rows
head(students)

Response [https://raw.githubusercontent.com/harishmuh/R_tutorial/main/datasets/student%20grades.xlsx]
  Date: 2025-09-16 04:37
  Status: 200
  Content-Type: application/octet-stream
  Size: 21 kB
<ON DISK>  /tmp/RtmpGUMlT6/filefa6e3eb83d.xlsxNULL

  student_id last_name first_name
1 27         Marian    Ryan
2 28         Sandra    Moss
3 33         Rodney    Howell
4 34         Sheldon   Black
5 40         Amos      Clarke
6 46         Daisy     Osborne

In [56]:
# Reading the second table
# Read Excel - second table: "grades" sheet
grades <- read_excel(temp_file, sheet = "grades")

# Check first rows
head(grades)

  student_id course_id course_name grade
1 27         MATH 302  Mathematics 74
2 27         PHY 311   Physics     75
3 28         MATH 302  Mathematics 77
4 28         PHY 311   Physics     81
5 33         MATH 302  Mathematics 99
6 33         PHY 311   Physics     99

In [57]:
# Join 2 dataframe by student id
students %>% inner_join(grades, by = "student_id")

    student_id last_name first_name course_id course_name grade
1   27         Marian    Ryan       MATH 302  Mathematics 74
2   27         Marian    Ryan       PHY 311   Physics     75
3   28         Sandra    Moss       MATH 302  Mathematics 77
4   28         Sandra    Moss       PHY 311   Physics     81
5   33         Rodney    Howell     MATH 302  Mathematics 99
6   33         Rodney    Howell     PHY 311   Physics     99
7   34         Sheldon   Black      PHY 311   Physics     70
8   34         Sheldon   Black      MATH 302  Mathematics 77
9   40         Amos      Clarke     MATH 302  Mathematics 66
10  40         Amos      Clarke     PHY 311   Physics     66
11  40         Amos      Clarke     PHY 311   Physics     80
12  40         Amos      Clarke     MATH 302  Mathematics 81
13  46         Daisy     Osborne    MATH 302  Mathematics 75
14  46         Daisy     Osborne    PHY 311   Physics     77
15  61         Jaime     Woods      MATH 302  Mathematics 78
16  61         Jaime     Woods      PHY 311   Physics     83
17  64         Sonja     Wise       MATH 302  Mathematics 81
18  64         Sonja     Wise       PHY 311   Physics     85
19  67         Brandi    Hernandez  PHY 311   Physics     87
20  67         Brandi    Hernandez  MATH 302  Mathematics 89
21  75         Sammy     Newman     PHY 311   Physics     81
22  75         Sammy     Newman     MATH 302  Mathematics 84
23  79         Katrina   Gutierrez  MATH 302  Mathematics 77
24  79         Katrina   Gutierrez  PHY 311   Physics     78
25  83         Cornelius Carroll    PHY 311   Physics     77
26  83         Cornelius Carroll    MATH 302  Mathematics 79
27  94         Brandy    Hunt       MATH 302  Mathematics 81
28  94         Brandy    Hunt       PHY 311   Physics     85
29  96         Lance     Ross       MATH 302  Mathematics 92
30  96         Lance     Ross       PHY 311   Physics     92
⋮   ⋮          ⋮         ⋮          ⋮         ⋮           ⋮
175 1047       Lydia     Norris     PHY 311   Physics     86
176 1047       Lydia     Norris     MATH 302  Mathematics 90
177 1073       Kyle      Mclaughlin MATH 302  Mathematics 86
178 1073       Kyle      Mclaughlin PHY 311   Physics     96
179 1091       Wanda     Flores     MATH 302  Mathematics 77
180 1091       Wanda     Flores     PHY 311   Physics     80
181 1120       Myra      Reeves     MATH 302  Mathematics 65
182 1120       Myra      Reeves     PHY 311   Physics     71
183 1120       Myra      Reeves     MATH 302  Mathematics NA
184 1120       Myra      Reeves     PHY 311   Physics     NA
185 1131       Joey      Douglas    MATH 302  Mathematics 81
186 1131       Joey      Douglas    PHY 311   Physics     84
187 1136       Sandy     Pittman    MATH 302  Mathematics 80
188 1136       Sandy     Pittman    PHY 311   Physics     81
189 1180       Lela      Rodriquez  PHY 311   Physics     84
190 1180       Lela      Rodriquez  MATH 302  Mathematics 87
191 1204       Bryant    Townsend   PHY 311   Physics     82
192 1204       Bryant    Townsend   MATH 302  Mathematics 85
193 1217       Tim       King       PHY 311   Physics     79
194 1217       Tim       King       MATH 302  Mathematics 80
195 1242       Lora      Soto       PHY 311   Physics     84
196 1242       Lora      Soto       MATH 302  Mathematics 85
197 1273       Lorenzo   Martinez   MATH 302  Mathematics 95
198 1273       Lorenzo   Martinez   PHY 311   Physics     97
199 1293       Steve     Klein      MATH 302  Mathematics 86
200 1293       Steve     Klein      PHY 311   Physics     94
201 1294       Dwight    Wells      PHY 311   Physics     80
202 1294       Dwight    Wells      MATH 302  Mathematics 82
203 1312       Elmer     Montgomery MATH 302  Mathematics 81
204 1312       Elmer     Montgomery PHY 311   Physics     84

In [58]:
# Join by student_id
data_joined <- students %>%
  inner_join(grades, by = "student_id")

In [60]:
head(data_joined)

  student_id last_name first_name course_id course_name grade
1 27         Marian    Ryan       MATH 302  Mathematics 74
2 27         Marian    Ryan       PHY 311   Physics     75
3 28         Sandra    Moss       MATH 302  Mathematics 77
4 28         Sandra    Moss       PHY 311   Physics     81
5 33         Rodney    Howell     MATH 302  Mathematics 99
6 33         Rodney    Howell     PHY 311   Physics     99

In [69]:
# Method 1: finding "Sammy Newman" in the joined table
library(dplyr)
library(stringr)

sammy_grades <- data_joined %>%
  mutate(
    first_name = str_squish(first_name),
    last_name  = str_squish(last_name)
  ) %>%
  filter(
    (str_to_lower(first_name) == "sammy" & str_to_lower(last_name) == "newman") |
    (str_to_lower(first_name) == "newman" & str_to_lower(last_name) == "sammy")
  ) %>%
  select(student_id, first_name, last_name, course_name, grade)

sammy_grades

  student_id first_name last_name course_name grade
1 75         Newman     Sammy     Physics     81
2 75         Newman     Sammy     Mathematics 84

In [70]:
# Method 2: finding "Sammy Newman" in the joined table
sammy_grades <- data_joined %>%
  filter(
    if_any(everything(), ~ str_detect(.x, regex("sammy", ignore_case = TRUE))) &
    if_any(everything(), ~ str_detect(.x, regex("newman", ignore_case = TRUE)))
  )

sammy_grades

  student_id last_name first_name course_id course_name grade
1 75         Sammy     Newman     PHY 311   Physics     81
2 75         Sammy     Newman     MATH 302  Mathematics 84

In [71]:
# Method 3: finding "Sammy Newman" in the joined table
data_joined %>%
  filter(
    if_any(everything(), ~ str_detect(.x, "Sammy")) |
    if_any(everything(), ~ str_detect(.x, "Newman"))
  )

  student_id last_name first_name course_id course_name grade
1 75         Sammy     Newman     PHY 311   Physics     81
2 75         Sammy     Newman     MATH 302  Mathematics 84

## **Capstone project**

![image.png]()

 **A. Importing "Student grades"**

In [72]:
# Importing the first table: "students"
# Reading excel file from github
library(readxl)
library(httr)

# Correct raw url (binary files must use /raw/ not /blob/ or /refs/heads/)
url_xlsx <- "https://github.com/harishmuh/R_tutorial/raw/main/datasets/student%20grades.xlsx"

# Download the file temporarily using httr::GET to ensure proper handling of binary files
temp_file <- tempfile(fileext = ".xlsx")
GET(url_xlsx, write_disk(temp_file, overwrite = TRUE))

# Read Excel - first table "student" sheet
students <- read_excel(temp_file, sheet = "students")

# Check first rows
head(students)

Response [https://raw.githubusercontent.com/harishmuh/R_tutorial/main/datasets/student%20grades.xlsx]
  Date: 2025-09-16 06:06
  Status: 200
  Content-Type: application/octet-stream
  Size: 21 kB
<ON DISK>  /tmp/RtmpGUMlT6/filefaddba65a.xlsxNULL

  student_id last_name first_name
1 27         Marian    Ryan
2 28         Sandra    Moss
3 33         Rodney    Howell
4 34         Sheldon   Black
5 40         Amos      Clarke
6 46         Daisy     Osborne

In [73]:
# Importing the second table : "grades"
# Read Excel - second table: "grades" sheet
grades <- read_excel(temp_file, sheet = "grades")

# Check first rows
head(grades)

  student_id course_id course_name grade
1 27         MATH 302  Mathematics 74
2 27         PHY 311   Physics     75
3 28         MATH 302  Mathematics 77
4 28         PHY 311   Physics     81
5 33         MATH 302  Mathematics 99
6 33         PHY 311   Physics     99

**2. Number of grades and students observation**

![image.png]()

**C. Join the dataframes (students and grade) and filter the names ("Amos Clarke" and "Jaime Wood")**

In [74]:
library(dplyr)

# Joining 2 dataframes - joined by `student_id`
data_joined <- students %>%
  inner_join(grades, by = "student_id")

# Filter the names: Amos Clarke and Jaime Woods
filtered_data <- data_joined %>%
  filter(
    (first_name == "Amos" & last_name == "Clarke") |
    (first_name == "Jaime" & last_name == "Woods")
  ) %>%
  select(first_name, last_name, course_id, course_name, grade)

filtered_data

     first_name last_name course_id course_name grade

In [75]:
# Joining 2 dataframes - joined by `student_id`
data_joined <- students %>%
  inner_join(grades, by = "student_id")

head(data_joined)

  student_id last_name first_name course_id course_name grade
1 27         Marian    Ryan       MATH 302  Mathematics 74
2 27         Marian    Ryan       PHY 311   Physics     75
3 28         Sandra    Moss       MATH 302  Mathematics 77
4 28         Sandra    Moss       PHY 311   Physics     81
5 33         Rodney    Howell     MATH 302  Mathematics 99
6 33         Rodney    Howell     PHY 311   Physics     99

In [79]:
# Filter Amos Clarke and Jaime Woods
filtered_data <- data_joined %>%
  filter(
    if_any(everything(), ~ str_detect(.x, "Amos")) |
    if_any(everything(), ~ str_detect(.x, "Clarke"))|
    if_any(everything(), ~ str_detect(.x, "Jaime")) |
    if_any(everything(), ~ str_detect(.x, "Woods"))
  ) %>%
  select(first_name, last_name, course_id, course_name, grade)
filtered_data

  first_name last_name course_id course_name grade
1 Clarke     Amos      MATH 302  Mathematics 66
2 Clarke     Amos      PHY 311   Physics     66
3 Clarke     Amos      PHY 311   Physics     80
4 Clarke     Amos      MATH 302  Mathematics 81
5 Woods      Jaime     MATH 302  Mathematics 78
6 Woods      Jaime     PHY 311   Physics     83

**D. Combine first_name and last_name, then select fullName, course_name, grade in this order**

In [80]:
# Combine columns

final_data <- filtered_data %>%
  unite(fullName, first_name, last_name, sep = " ") %>%
  select(fullName, course_name, grade)

final_data

  fullName    course_name grade
1 Clarke Amos Mathematics 66
2 Clarke Amos Physics     66
3 Clarke Amos Physics     80
4 Clarke Amos Mathematics 81
5 Woods Jaime Mathematics 78
6 Woods Jaime Physics     83